<div>
    <h2>Using CurrencyPipe</h2>
    <p>Price: {{ price | currency }}</p>
    <p>Price: {{ price | currency : "EUR" : "symbol-narrow" : "4.2-2" }}</p>
  </div>
  <div>
      <h2>Using DatePipe</h2>
      <p>Current date: {{ currentDate | date }}</p>
      <p>Current date: {{ currentDate | date:'fullDate' }}</p>
      <p>Current date: {{ currentDate | date:'short' }}</p>
    </div>
    <div>
      <h2>Using JsonPipe</h2>
      <pre>{{ myObject | json }}</pre>
    </div>
    <div>
      <h2>Using LowerCasePipe</h2>
      <p>Original String: {{ myString }}</p>
      <p>Lowercased String: {{ myString | lowercase }}</p>
      <p>Uppercased String: {{ myString | uppercase }}</p>
      <p>Titlecased String: {{ myString | titlecase }}</p>
    </div>
    <div>
      <h2>Using PercentPipe</h2>
      <p>Original Number: {{ myNumber }}</p>
      <p>Percentage Value: {{ myNumber | percent }}</p>
    </div>
    <div>
      <h2>Using custom FilterPipe</h2>
      <input type="checkbox" [(ngModel)]="isChecked"/>
      @if(isChecked){
        <p>Hello Object:{{arrObj|filter:'fname':"Sachin"|json}}</p>
      }
      @else {
        <p>Hello Object:{{arrObj|filter:'lname':"Dravid"|json}}</p>
      }
      <!-- <p>Object: {{ arrObj | filter:'fname':'Rahul' | json }}</p> -->
    </div>